<title>Index Page</title>

<h1>Index Page</h1>
<nav>
<ul>
  <li><%= link_to "Company", pages_company_path %></li>
  <li><%= link_to "Services", pages_services_path %></li>
  <li><%= link_to "Clients", pages_clients_path %></li>
  <li><%= link_to "News", pages_news_path %></li>
  <li><%= link_to "RRHH", pages_rrhh_path %></li>
  <li><%= link_to "Contact_us", pages_contact_us_path %></li>
</ul>
</nav>

<div id="parag">
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
This is the index page.This is the index page.This is the insdex page.
</div>
