<section class="container">

<title>Services Page</title>

<h1>Services</h1>
<header>

<nav>
<ul>
  <li><%= link_to "Company", pages_company_path %></li>
  <li><%= link_to "Services", pages_services_path %></li>
  <li><%= link_to "Clients", pages_clients_path %></li>
  <li><%= link_to "News", pages_news_path %></li>
  <li><%= link_to "RRHH", pages_rrhh_path %></li>
  <li><%= link_to "Contact_us", pages_contact_us_path %></li>
</ul>
</nav>
</header>

<section class="middle_container">
<section class="small_container">

<div id="parag">
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.This is the services page.
</div>

</section> <!-- end of small_container -->
</section> <!-- end of middle_container -->

</section> <!-- end of container -->
